body {
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 0.3em;
}
canvas {
    border: solid .2em #fff;
    height: 90vh;
}